WEBSITE_URL=https://revelationsai.com
AUTH_URL=https://auth.revelationsai.com
API_URL=https://api.revelationsai.com
CHAT_API_URL=https://chat.api.revelationsai.com

REVENUECAT_APP_STORE_API_KEY=
REVENUECAT_PLAY_STORE_API_KEY=

SENTRY_DSN=

TEST_DEVICE_ID=
